html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
  background-color: var(--color-acento-hover); /* Color de fondo al seleccionar */
  color: #000000;            /* Color de las letras al seleccionar */
}

@font-face {
    font-family: 'fixedsys';
    src: url('../font/Fixedsys500c.otf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'manifiesto';
    src: url('../font/PixelFraktur.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'adventurer';
    src: url('../font/Adventurer.ttf') format('truetype');
    font-weight: 900;
}

:root {
    /* ------COLORES------ */
    /* fondo */
    --color-fondo-principal: #50459B;
    --color-fondo-superficie: #ffffff;
    --color-fondo-elemento: #8b8b8b;
    --color-fondo-modal: rgba(0, 0, 0, 0.5);

    /* texto */
    --color-texto-oscuro: #000;
    --color-texto-oscuro-hover: #252525;
    --color-texto-oscuro-atenuado: rgba(0, 0, 0, 0.25);

    --color-texto-claro: #ffffff;
    --color-texto-claro-hover: #d2d2d2;
    --color-texto-claro-atenuado: rgba(255, 255, 255, 0.25);

    --color-texto-secundario: #50459B;
    --color-texto-secundario-hover: #6356BF;
    --color-texto-secundario-atenuado: rgba(80, 69, 155, 0.25);

    /* acentos */
    --color-acento: #50459B;
    --color-acento-hover: #8a7fcd;

    /* estados */
    --color-exito: #9be39d;
    --color-alerta: #cbd689;
    --color-error: #cc7f76;
    --color-info: #6ac1c8;

    /* ------ESPACIADOS------ */
    --espacio-xs: 0.5rem;
    --espacio-sm: 1rem;
    --espacio-md: 2rem;
    --espacio-lg: 4rem;

    /* ------FUENTES------ */
    /* familia */
    --fuente-principal: 'fixedsys';
    --fuente-secundaria: 'adventurer';
    --fuente-manifiesto: 'manifiesto';

    /* tamaños */
    --tamano-texto-xs: 0.875rem;      /* 14px */
    --tamano-texto-s: 1rem;           /* 16px */
    --tamano-texto-m: 1.5rem;         /* 24px */
    --tamano-texto-l: 2rem;           /* 32px */
    --tamano-texto-xl: 3.5rem;        /* 56px */
    
    /* padding lateral de las secciones */
    --padding-lateral: 5%;
}

body {
    font-family: var(--fuente-principal);
}
a {
        text-decoration: none;
        color: var(--color-texto-claro);
}

.section-title {
    font-size: var(--tamano-texto-xl);
    padding: var(--padding-lateral) 15% 0 15%;
    margin-bottom: var(--espacio-md);
}

.container {
    background-color: var(--color-texto-secundario);
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 
    auto 1fr auto;
}

.header {
    padding: var(--espacio-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-fondo-superficie);
}

ul {
    display: flex;
    flex-direction: row;
    gap: var(--espacio-sm);

    li {
        list-style: none;
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.logo {
    font-family: monospace;
    white-space: pre;
    font-size: 0.25rem;
    cursor: pointer;
}

.linea {
    font-size: var(--tamano-texto-xs) !important;
}

#compu {
    grid-area: compu;
}

#hero-text {
    grid-area: titulo;

    h1 {
        font-size: var(--tamano-texto-xl);
        padding-bottom: var(--espacio-md);
    }

    p {
        font-size: var(--tamano-texto-m);
        padding-bottom: var(--espacio-sm);
    }
}

.compu p{
    font-size: 0.75rem;
    color: var(--color-fondo-superficie);
}
    
.hero {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas:
        "titulo compu";
    padding: 5% 15% 5% 15%;
    color: var(--color-fondo-superficie);

    h1 {
        font-size: var(--tamano-texto-xl);
    }
}

button {
    margin-top: var(--espacio-md);
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo-superficie);
    color: rgb(0, 0, 0);
    border: none;
    padding: var(--espacio-sm);
    cursor: pointer;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
    font-size: var(--tamano-texto-s);
    margin-right: var(--espacio-sm);
    transition: box-shadow 0.1s ease-in-out;

    a {
        text-decoration: none;
        color: var(--color-texto-oscuro);
    }

    &:hover {
        box-shadow: 12px 12px 0px rgba(0, 0, 0, 1);
    }
}

.content-fondo {
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    container: contenido / inline-size;
}

.about {
    padding: 0 15% 0 15%;
    h1 {
        font-size: var(--tamano-texto-xl);
        text-align: center;
    }

    p {
        font-size: var(--tamano-texto-m);
        padding: var(--espacio-sm) 0;
        line-height: 1.6;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.donaciones {
    background-color: var(--color-fondo-principal);
    margin: 0 15% 0 15%;
    padding: var(--espacio-md);
}

.container-donaciones {
    color: var(--color-texto-claro);
    background-color: var(--color-fondo-principal);
    border: 15px double var(--color-texto-claro);
    padding: var(--espacio-md);

    display: flex;
    flex-direction: column;
    h1 {
        font-size: var(--tamano-texto-xl);
        text-align: center;
    }

    p {
        font-size: var(--tamano-texto-l);
        padding: var(--espacio-sm) 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    legend {
        font-size: var(--tamano-texto-xl);
        margin-left: var(--espacio-md);
        padding: var(--espacio-xs);
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        font-size: var(--tamano-texto-s);
        list-style: square;
    }

    button {
        align-self: end;
        font-size: var(--tamano-texto-m);
    }
    
    h1 {
        font-size: var(--tamano-texto-l);
        text-align: center;
    }
}

.actividades {
    padding: 0 15% 0 15%;
    color: var(--color-texto-oscuro);
    display: flex;
    gap: var(--espacio-md);
    height: 50vh;

    fieldset {
        border: 8px double var(--color-texto-oscuro);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        legend {
            font-size: var(--tamano-texto-l);
            text-align: center;
            padding: var(--espacio-xs);
        }

        p {
            font-size: var(--tamano-texto-m);
            padding: var(--espacio-sm);
            text-align: center;
            line-height: 1.6;
        }
    }
}

@container contenido (width < 768px) {
    .actividades {
        flex-direction: column;
    }
}

.ciudades {
    padding: 0 15% 0 15%;

    p {
        font-size: var(--tamano-texto-m);
        line-height: 1.6;
    }
}

.tabla-localidades {
    padding: 3% 0 5% 0;
}

.barra-datos {
    border: 4px var(--color-texto-oscuro) solid;
}

.barra-datos-texto {
    display: flex;
    justify-content: space-between;
    font-size: var(--tamano-texto-m);
    padding: var(--espacio-xs) var(--espacio-sm);
}

.localidades {
    border: 4px var(--color-texto-oscuro) solid;
    padding: var(--espacio-sm);
}

.localidad {
    display: flex;
    justify-content: space-between;
    padding: var(--espacio-xs) var(--espacio-sm);
    font-size: var(--tamano-texto-m);

    &:hover {
        background-color: var(--color-acento);
    }
}

.atenuado {
    color: var(--color-texto-oscuro-atenuado);
}

.barra-dato {
    border: 4px var(--color-texto-oscuro) solid;
    font-size: var(--tamano-texto-m);
    text-align: center;
    padding: var(--espacio-sm);
    background-color: var(--color-fondo-principal);
}

#lema {
    grid-area: lema;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: var(--espacio-sm);
}

#links {
    grid-area: links;
    display: flex;
    align-items: start;
    gap: var(--espacio-md);
}

#copyright {
    grid-area: copyr;
    align-self: end;
}

#arch {
    grid-area: arch;
}

.ascii-arch {
    font-family: monospace;
    font-size: var(--tamano-texto-l);
    white-space: pre;
    justify-self: end;
}

.canales {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        padding-bottom: var(--espacio-sm);
    }

    a {    
        padding-bottom: var(--espacio-xs);      
        &:hover {
            text-decoration: underline;
        }
    }
    
}

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        padding-bottom: var(--espacio-sm);
    }

    a {   
        padding-bottom: var(--espacio-xs);     
        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    background-color: var(--color-fondo-principal);
    color: var(--color-fondo-superficie);
    padding: var(--espacio-lg);
}

.footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.75fr 0.5fr 0.5fr;
    grid-template-areas:
        "lema arch"
        "links arch"
        "copyr arch";

    h1 {
        font-size: var(--tamano-texto-xl);
    }
}

@media (width <= 767px) {

    :root {
        --tamano-texto-m: 1.05rem;
        --tamano-texto-l: 1.25rem;
        --tamano-texto-xl: 1.75rem;

        --espacio-xs: 0.5rem;
        --espacio-sm: 1rem;
        --espacio-md: 1.5rem;
        --espacio-lg: 2rem;
    }

    .compu {
        display: none;
    }

    .horario {
        display: none;
    }

    .ascii-arch {
        display: none;
    }
    
    .section-title {
        font-size: clamp(1rem, 4.6vw, var(--tamano-texto-xl));
        padding: 8% var(--padding-lateral) 0 var(--padding-lateral);
        overflow: hidden;
        margin-bottom: 0;
        text-align: center;
        margin-bottom: var(--espacio-md);
    }

    .header {
        flex-direction: column;
        justify-content: center;
        gap: var(--espacio-sm);
        text-align: center;
    }

    ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        max-width: 100%;
        overflow: hidden;
    }

    #compu {
        justify-self: center;
    }

    .compu p {
        font-size: 0.5rem;
        white-space: pre;
        max-width: 100%;
        overflow: hidden;
    }

    .hero {
        grid-template-columns: 1fr;
        grid-template-areas:
            "titulo"
            "compu";
        gap: var(--espacio-md);
        padding: 5% var(--padding-lateral) 5% var(--padding-lateral);
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        button {
            width: 50%;
        }
    }

    .about {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }

    .donaciones {
        margin: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }

    .container-donaciones {
        padding: var(--espacio-lg);

        p {
            font-size: var(--tamano-texto-m);
        }

        h1 {
            padding-bottom: var(--espacio-md);
        }

        legend {
            margin-left: 0;
            font-size: var(--tamano-texto-l);
            text-align: center;
        }

        button {
            align-self: stretch;
        }
    }

    .actividades {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
        height: 100%;
    }

    .ciudades {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }   
    
    #links {
        flex-wrap: wrap;
    }

    #copyright {
        text-align: center;
    }

    .ascii-arch {
        font-size: 0.75rem;
        justify-self: center;
        max-width: 100%;
        overflow: hidden;
    }

    footer {
        padding: var(--espacio-md);
    }

    .footer-info {
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 1fr 0fr 0.5fr;
        grid-template-areas:
            "lema"
            "links"
            "arch"
            "copyr";
    }
}

@media (768px <= width < 1279px) {

    :root {
        --tamano-texto-m: 1.25rem;
        --tamano-texto-l: 1.75rem;
        --tamano-texto-xl: 2.5rem;

        --padding-lateral: 8%;
    }

    .hero {
        display: flex;
        text-align: center;
    }

    .compu {
        display: none;
    }

    .horario {
        display: none;
    }

    .ascii-arch {
        display: none;
    }

    .section-title {
        font-size: clamp(1.25rem, 3.5vw, var(--tamano-texto-xl));
        padding: 5% var(--padding-lateral) 0 var(--padding-lateral);
        text-align: center;
        overflow: hidden;
        margin-bottom: var(--espacio-md);
    }

    .hero {
        gap: var(--espacio-md);
        padding: 5% var(--padding-lateral) 5% var(--padding-lateral);
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 50%;
        }
    }

    .about {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }

    .donaciones {
        margin: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }

    .container-donaciones {
        p {
            font-size: var(--tamano-texto-m);
        }
        h1 {
            padding-bottom: var(--espacio-md);
        }
        legend {
            margin-left: 0;
            font-size: var(--tamano-texto-l);
            text-align: center;
        }
        button {
            align-self: stretch;
        }
    }

    .actividades {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
        height: 500px;
    }

    .ciudades {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }

    #links {
        flex-wrap: wrap;
    }

    #copyright {
        text-align: center;
    }

    .ascii-arch {
        font-size: 1.25rem;
        justify-self: center;
        max-width: 100%;
        overflow: hidden;
    }

    footer {
        padding: var(--espacio-md);
    }

    .footer-info {
        grid-template-columns: 1fr;
        grid-template-rows: 1.75fr 1fr 0fr 1fr;
        grid-template-areas:
            "lema"
            "links"
            "arch"
            "copyr";
    }
}