html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
  background-color: var(--color-acento-hover);
  color: #000000;
}

@font-face {
    font-family: 'fixedsys';
    src: url('../font/Fixedsys500c.otf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'manifiesto';
    src: url('../font/PixelFraktur.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'adventurer';
    src: url('../font/Adventurer.ttf') format('truetype');
    font-weight: 900;
}

:root {
    --color-fondo-principal: #50459B;
    --color-fondo-superficie: #ffffff;
    --color-fondo-elemento: #8b8b8b;
    --color-fondo-modal: rgba(0, 0, 0, 0.5);

    --color-texto-oscuro: #000;
    --color-texto-oscuro-hover: #252525;
    --color-texto-oscuro-atenuado: rgba(0, 0, 0, 0.25);

    --color-texto-claro: #ffffff;
    --color-texto-claro-hover: #d2d2d2;
    --color-texto-claro-atenuado: rgba(255, 255, 255, 0.25);

    --color-texto-secundario: #50459B;
    --color-texto-secundario-hover: #6356BF;
    --color-texto-secundario-atenuado: rgba(80, 69, 155, 0.25);

    --color-acento: #50459B;
    --color-acento-hover: #8a7fcd;

    --color-exito: #9be39d;
    --color-alerta: #cbd689;
    --color-error: #cc7f76;
    --color-info: #6ac1c8;

    --espacio-xs: 0.5rem;
    --espacio-sm: 1rem;
    --espacio-md: 2rem;
    --espacio-lg: 4rem;

    --fuente-principal: 'fixedsys';
    --fuente-secundaria: 'adventurer';
    --fuente-manifiesto: 'manifiesto';

    --tamano-texto-xs: 0.875rem;
    --tamano-texto-s: 1rem;
    --tamano-texto-m: 1.5rem;
    --tamano-texto-l: 2rem;
    --tamano-texto-xl: 3.5rem;

    --padding-lateral: 5%;
}

body {
    font-family: var(--fuente-principal);
}

/* ============================================================
   ATOMS
   ============================================================ */

.link {
    text-decoration: none;
    color: var(--color-texto-claro);
}

.heading--section {
    font-size: var(--tamano-texto-xl);
    padding: var(--padding-lateral) 15% 0 15%;
    margin-bottom: var(--espacio-md);
}

.heading--motto {
    font-size: var(--tamano-texto-xl);
}

.text--run {
    font-size: var(--tamano-texto-xs) !important;
}

.text--muted {
    color: var(--color-texto-oscuro-atenuado);
}

.text--highlight {
    font-size: var(--tamano-texto-l);
    padding: var(--espacio-sm) 0;
}

.text--small {
    font-size: var(--tamano-texto-xs);
}

.image {
    width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    margin-top: var(--espacio-md);
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo-superficie);
    color: rgb(0, 0, 0);
    border: none;
    padding: var(--espacio-sm);
    cursor: pointer;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
    font-size: var(--tamano-texto-s);
    margin-right: var(--espacio-sm);
    transition: box-shadow 0.1s ease-in-out;
    text-decoration: none;
    color: var(--color-texto-oscuro);
    text-align: center;
}

.btn:hover {
    box-shadow: 12px 12px 0px rgba(0, 0, 0, 1);
}

.logo {
    font-family: monospace;
    white-space: pre;
    font-size: 0.25rem;
    cursor: pointer;
    line-height: 1;
    margin: 0;
    display: block;
}

.ascii {
    font-family: monospace;
    white-space: pre;
}

.list-item {
    font-size: var(--tamano-texto-s);
    list-style: square;
}

/* ============================================================
   MOLECULES
   ============================================================ */

.nav__list {
    display: flex;
    flex-direction: row;
    gap: var(--espacio-sm);
}

.nav__item {
    list-style: none;
}

.nav__link:hover {
    text-decoration: underline;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
}

.donation-form {
    color: var(--color-texto-claro);
    background-color: var(--color-fondo-principal);
    border: 15px double var(--color-texto-claro);
    padding: var(--espacio-md);
    display: flex;
    flex-direction: column;
}

.donation-form__title {
    font-size: var(--tamano-texto-xl);
    margin-left: var(--espacio-md);
    padding: var(--espacio-xs);
}

.donation-form__list {
    display: flex;
    flex-direction: column;
}

.donation-form .btn {
    align-self: end;
    font-size: var(--tamano-texto-m);
}

.donation-form .text--highlight {
    text-align: center;
}

.card {
    border: 8px double var(--color-texto-oscuro);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__title {
    font-size: var(--tamano-texto-l);
    text-align: center;
    padding: var(--espacio-xs);
}

.card__desc {
    font-size: var(--tamano-texto-m);
    padding: var(--espacio-sm);
    text-align: center;
    line-height: 1.6;
}

.city-table {
    padding: 3% 0 5% 0;
}

.city-table__header {
    border: 4px var(--color-texto-oscuro) solid;
}

.city-table__header-inner {
    display: flex;
    justify-content: space-between;
    font-size: var(--tamano-texto-m);
    padding: var(--espacio-xs) var(--espacio-sm);
}

.city-table__body {
    border: 4px var(--color-texto-oscuro) solid;
    padding: var(--espacio-sm);
}

.city-table__row {
    display: flex;
    justify-content: space-between;
    padding: var(--espacio-xs) var(--espacio-sm);
    font-size: var(--tamano-texto-m);
}

.city-table__row:hover {
    background-color: var(--color-acento);
}

.city-table__footer {
    border: 4px var(--color-texto-oscuro) solid;
    font-size: var(--tamano-texto-m);
    text-align: center;
    padding: var(--espacio-sm);
    background-color: var(--color-fondo-principal);
}

.link-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-group__title {
    padding-bottom: var(--espacio-sm);
}

.link-group .link {
    padding-bottom: var(--espacio-xs);
}

.link-group .link:hover {
    text-decoration: underline;
}

/* ============================================================
   ORGANISMS
   ============================================================ */

.page {
    background-color: var(--color-texto-secundario);
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.header {
    padding: var(--espacio-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-fondo-superficie);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas: "titulo compu";
    padding: 5% 15% 5% 15%;
    color: var(--color-fondo-superficie);
}

.hero__content {
    grid-area: titulo;
}

.hero__content .heading {
    font-size: var(--tamano-texto-xl);
    padding-bottom: var(--espacio-md);
}

.hero__content .text {
    font-size: var(--tamano-texto-m);
    padding-bottom: var(--espacio-sm);
}

.hero__ascii {
    grid-area: compu;
}

.hero__ascii pre {
    font-size: 0.75rem;
    color: var(--color-fondo-superficie);
}

.content {
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    container: contenido / inline-size;
}

.about {
    padding: 0 15% 0 15%;
}

.about .text {
    font-size: var(--tamano-texto-m);
    padding: var(--espacio-sm) 0;
    line-height: 1.6;
}

.donations {
    background-color: var(--color-fondo-principal);
    margin: 0 15% 0 15%;
    padding: var(--espacio-md);
}

.donations .text {
    font-size: var(--tamano-texto-l);
    padding: var(--espacio-sm) 0;
}

.activities {
    padding: 0 15% 0 15%;
    color: var(--color-texto-oscuro);
    display: flex;
    gap: var(--espacio-md);
    height: 50vh;
}

@container contenido (width < 768px) {
    .activities {
        flex-direction: column;
    }
}

.cities {
    padding: 0 15% 0 15%;
}

.cities .text {
    font-size: var(--tamano-texto-m);
    line-height: 1.6;
}

.footer {
    background-color: var(--color-fondo-principal);
    color: var(--color-fondo-superficie);
    padding: var(--espacio-lg);
}

.footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.75fr 0.5fr 0.5fr;
    grid-template-areas:
        "lema arch"
        "links arch"
        "copyr arch";
}

.footer__motto {
    grid-area: lema;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: var(--espacio-sm);
}

.footer__links {
    grid-area: links;
    display: flex;
    align-items: start;
    gap: var(--espacio-md);
}

.footer__copyright {
    grid-area: copyr;
    align-self: end;
}

.footer__ascii {
    grid-area: arch;
    font-size: var(--tamano-texto-l);
    justify-self: end;
}

/* ============================================================
   BREAKPOINT: MOBILE (<= 767px)
   ============================================================ */

@media (width <= 767px) {

    :root {
        --tamano-texto-m: 1.05rem;
        --tamano-texto-l: 1.25rem;
        --tamano-texto-xl: 1.75rem;

        --espacio-xs: 0.5rem;
        --espacio-sm: 1rem;
        --espacio-md: 1.5rem;
        --espacio-lg: 2rem;
    }

    .hero__ascii {
        display: none;
    }

    .header__datetime {
        display: none;
    }

    .footer__ascii {
        display: none;
    }

    .heading--section {
        font-size: clamp(1rem, 4.6vw, var(--tamano-texto-xl));
        padding: 8% var(--padding-lateral) 0 var(--padding-lateral);
        overflow: hidden;
        margin-bottom: 0;
        text-align: center;
        margin-bottom: var(--espacio-md);
    }

    .header {
        flex-direction: column;
        justify-content: center;
        gap: var(--espacio-sm);
        text-align: center;
    }

    .header__logo {
        text-align: left;
    }

    .nav__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero__ascii {
        justify-self: center;
    }

    .hero__ascii pre {
        font-size: 0.5rem;
        white-space: pre;
        max-width: 100%;
        overflow: hidden;
    }

    .hero {
        grid-template-columns: 1fr;
        grid-template-areas:
            "titulo"
            "compu";
        gap: var(--espacio-md);
        padding: 5% var(--padding-lateral) 5% var(--padding-lateral);
    }

    .btn-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-group .btn {
        width: 50%;
    }

    .about {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }

    .donations {
        margin: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }

    .donation-form {
        padding: var(--espacio-lg);
    }

    .donation-form .text {
        font-size: var(--tamano-texto-m);
    }

    .donation-form .text--highlight {
        padding-bottom: var(--espacio-md);
    }

    .donation-form__title {
        margin-left: 0;
        font-size: var(--tamano-texto-l);
        text-align: center;
    }

    .donation-form .btn {
        align-self: stretch;
    }

    .activities {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
        height: 100%;
    }

    .cities {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }

    .footer__links {
        flex-wrap: wrap;
    }

    .footer__copyright {
        text-align: center;
    }

    .footer__ascii {
        font-size: 0.75rem;
        justify-self: center;
        max-width: 100%;
        overflow: hidden;
    }

    .footer {
        padding: var(--espacio-md);
    }

    .footer__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 1fr 0fr 0.5fr;
        grid-template-areas:
            "lema"
            "links"
            "arch"
            "copyr";
    }
}

/* ============================================================
   BREAKPOINT: TABLET (768px - 1279px)
   ============================================================ */

@media (768px <= width < 1279px) {

    :root {
        --tamano-texto-m: 1.25rem;
        --tamano-texto-l: 1.75rem;
        --tamano-texto-xl: 2.5rem;

        --padding-lateral: 8%;
    }

    .hero {
        display: flex;
        text-align: center;
    }

    .hero__ascii {
        display: none;
    }

    .header__datetime {
        display: none;
    }

    .footer__ascii {
        display: none;
    }

    .heading--section {
        font-size: clamp(1.25rem, 3.5vw, var(--tamano-texto-xl));
        padding: 5% var(--padding-lateral) 0 var(--padding-lateral);
        text-align: center;
        overflow: hidden;
        margin-bottom: var(--espacio-md);
    }

    .hero {
        gap: var(--espacio-md);
        padding: 5% var(--padding-lateral) 5% var(--padding-lateral);
    }

    .btn-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-group .btn {
        width: 50%;
    }

    .about {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }

    .donations {
        margin: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }

    .donation-form .text {
        font-size: var(--tamano-texto-m);
    }

    .donation-form .text--highlight {
        padding-bottom: var(--espacio-md);
    }

    .donation-form__title {
        margin-left: 0;
        font-size: var(--tamano-texto-l);
        text-align: center;
    }

    .donation-form .btn {
        align-self: stretch;
    }

    .activities {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
        height: 500px;
    }

    .cities {
        padding: 0 var(--padding-lateral) 0 var(--padding-lateral);
    }

    .footer__links {
        flex-wrap: wrap;
    }

    .footer__copyright {
        text-align: center;
    }

    .footer__ascii {
        font-size: 1.25rem;
        justify-self: center;
        max-width: 100%;
        overflow: hidden;
    }

    .footer {
        padding: var(--espacio-md);
    }

    .footer__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1.75fr 1fr 0fr 1fr;
        grid-template-areas:
            "lema"
            "links"
            "arch"
            "copyr";
    }
}